body{
    margin:0;
    
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 456px;
    font-size: 12px;
    padding-right: 456px;
    text-align: center;
    text-decoration: none;
}
li{
    list-style: none;
    display: inline-block;  
    text-decoration: none;
    margin-top: 20px;
}
li a{
    color: black;
    text-decoration: none;

}
.nav-bar{
    font-family: sans-serif;
    background-color: rgb(206,207,209);
    height: 45px;
    position: fixed;
    width: 100%;
}
.nav-list{
    margin-top: -12px;

}
.logo{
    width: 17px;
}
.search{
    width: 17px;
}
.bag{
    width: 22px;
}

.container {
    width: 100%;
    max-width: inherit;
    height: 530px;
    background-image: url(./img/destek-img/destek-foto-1.jpg);
    background-position: 50% 50%;
    background-size: 118% 100%;
}

.destek-body{
    height: 575px;
}

.destek-body1{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -0.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 10px;
}

.destek-img{
    width: 100%;
    height: 562px;
    background-color: black;
    overflow: hidden;
}

.destek-body2{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin-top: 10px;    
}

.destek-body2 img{
    width: 55%;
}

.destek-body2 p{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: -30px;
}

.destek-body2 a{
    text-decoration: none;
    color: rgb(29,29,31);
}

.destek-body2 a:hover{
    text-decoration: underline;
}

.destek-img1{
    padding-left: -450px;
    padding-right: -450px;
    margin-left: 60px;
}

.main{
    display: flex;
    margin-top: 500px;
    width: 100%;
    height: 250px;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.destek-body3{
    border-radius: 10px;
    background-color: rgb(245,245,247);
    box-shadow: 2px 2px 2px #ddd8d8;
    margin: 10px;
    width: 18%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
    text-align: center;
    text-decoration: none;
    margin-top: -90px;
}
.destek-body3 a{
    text-decoration: none;
    color: rgb(15,111,207);
}

.destek-body3 a:hover{
    text-decoration: underline;
}

.destek-body3 img{
    margin-bottom: 20px;
    width: 50%;
}
.destek-body3 :hover{
    text-decoration: none;
    transition: transform 0.5s;
    transform: scale(1.1);

}

.destek-body4{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.destek{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 350px;
    margin-bottom: 200px;
}
.destek-left img{
    max-width: 1320px;
    height: 300px;
    object-fit: fill;
}

.destek-left{
    flex: 2;
    margin-right: 20px;
}

.destek-left h1{
    font-weight: bold;
    margin-right: 880px;
    display: flex;
    justify-content: center;
}

.destek-left h4{
    display: flex;
    justify-content: center;
    margin-right: 880px;
    border: solid black;
    background-color: black;
    width: 130px;
    color: white;
    margin-left: 435px;
    border-radius: 20px;
}

.destek-left p{
    justify-content: center;
    margin-left: 150px;
}

.destek-right{
    flex: 1;
    margin-left: 1350px;
    margin-top: -460px;
    width: 500px;
}

.destek-right img{
    width: 300px;
    height: 300px;
    object-fit: fill;
    margin-left: 90px;
}

.destek-right h1{
    margin-top: -40px;
    margin-bottom: 20px;
}

.destek2{
    margin-left: 500px;
}

.destek2 h1{
    margin-left: 300px;
    font-size: 50px;
}

.destek2 p{
    margin-top: -20px;
    margin-left: 60px;
}

.destek2 h4{
    margin-left: 300px;
    font-size: 20px;
}

.destek2 a{
    text-decoration: none;
    color: rgb(15,111,207);
}

.destek2 a:hover{
    text-decoration: underline;
}

.destek3-left{
    display: flex;
    flex: 1;
    max-width: 40%;
    justify-content: center;
}

.destek3-left h1{
    justify-content: end;
}


.destek3-right{
    display: flex;
    flex: 1;
    max-width: 40%;
    justify-content: center;
    margin-left: 900px;
    margin-top: -210px;
}

.footer-ust{
    margin-top: 60px;
    height: 300px;
    display: flex;
    width: 100%;
    background-color:#f5f5f7 ;  
    padding-left: 400px;
}

.footer-ust1{
    margin: 30px;
    height: 300px;
    width: 50%;
    font-weight: 400px;
    line-height: 1.8;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.footer-ust1 h2{
    margin-left: 40px;
    margin-bottom: -30px;
}

.footer-ust1 li{
    margin-top: 5px;
}

.footer-ust li a{
    color: rgb(40,126,212);
}

.footer-ust li a:hover{
    text-decoration: underline;
}

.footer{
    width: 100%;
    margin-top: 5px;
    background-color: #f5f5f7;
    height: 400px;
}
#list-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 474px;
    font-size: 12px;
    padding-right: 456px;
    text-align: center;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #6e6e73;
    flex-wrap: wrap;
}
.footer-list2{
    display: flex;
    padding-left: 372px;  
    padding-top: 25px;  
}
.footer-list2 a{
    text-decoration: none;
    font-size: 12px;
    color: #86868B;

}
.footer-list2 a:hover{
    text-decoration: underline;
}
.footer-list2 p{
    margin: 0;
}
.footer-title1{
    font-size: 12px;
    color: #000000;
    margin-top: 25px;
}
.footer-col{
    margin-left: 102px;
    text-align: left;
    margin-right: 30px;
}
.copy{
    display: flex;
    padding-left: 472px;
    justify-content: space-between;
    margin-right: 638px;
    margin-top: -69px;

}
.copy a{
    text-decoration: none;
    font-size: 12px;
    color: #525252;
}

.copy2{
    padding-left: 400px;  
    justify-content: space-between;
    margin-right: 582px;
}

.copy a:hover{
    text-decoration: underline;
}
.copy1{
    margin-top: -25px;
    padding-left: 761px;  
    justify-content: space-between;
    margin-right: 682px;     
}
.final-footer{
    display: flex;
}